@{
    ViewData["Title"] = "Home Page";
}

<h1>this is new h1 tag</h1>
<h2> i have pushed it hardly </h2>
<h1>this is another h1</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
